# Latest stable release
binary "https://trimblemaps.jfrog.io/artifactory/carthage/RoutePlugin.json" == 0.1.6
binary "https://trimblemaps.jfrog.io/artifactory/carthage/TrimbleMapsWebservicesClient.json" == 0.1.4
binary "https://trimblemaps.jfrog.io/artifactory/carthage/Turf.json" == 0.1.0
github "raphaelmor/Polyline" ~> 5.0

